#app form label {
    font-size: 0.87em;
    font-weight: 400;
    margin-bottom: 0;
}

form table tbody tr th,
form table tbody tr td {
    font-size: 0.875em;
}

form .v-input {
    /* height: 40px; */
}

form .v-input.v-input--error {
    /* height: 60px; */
}

/* Contenedor relativo para que el label se posicione dentro */
.form-floating {
    position: relative;
}
/* Aplicar también a select */
.form-floating select {
    width: 100%;
    border: 1px solid var(--bg5);
    border-radius: 4px;
    background: none;
    font-size: 0.9rem;
}

/* Label flotante cuando hay valor o focus */
#app .form-floating select:focus + label,
#app .form-floating select:valid + label {
    top: -0.5rem;
    left: 0rem;
    font-size: 0.74rem;
    color: var(--bg5) !important;
    font-weight: bold !important;
    background-color: var(--bgWhite);
    padding: 0 0.25rem;
}

.form-floating select,
.form-floating input {
    font-size: 0.8em;
}

/* Input básico */
.form-floating input {
    width: 100%;
    padding: 1rem 0.5rem 0.5rem 0.5rem; /* espacio superior para el label */
    border: 1px solid var(--bg5);
}

/* Label posicionado sobre el input */
.form-floating label {
    position: absolute;
    top: 0.5rem; /* posición inicial dentro del input */
    left: 0.1rem;
    font-size: 0.8em !important;
    color: var(--bg5) !important;
    font-weight: 300 !important;
    pointer-events: none; /* para que el click pase al input */
    transition: all 0.2s ease-out;
}

/* Cuando el input está enfocado o tiene texto */
.form-floating input:focus + label,
.form-floating input:not(:placeholder-shown) + label {
    top: -0.5rem; /* sube el label */
    left: 0rem;
    font-size: 0.72rem; /* se hace más pequeño */
    color: var(--bgDarkGrayP) !important;
    font-weight: bold !important;
    background-color: var(--bgWhite);
    padding: 0 0.25rem; /* para que no se superponga con el borde */
}

/* Ocultar placeholder */
.form-floating input::placeholder {
    color: transparent;
}

.el-select.el-select--large .el-select__wrapper {
    min-height: 38px;
}

.el-select.el-select--large.el-select-input-group-right .el-select__wrapper {
    border-radius: 0px 5px 5px 0px;
}

.el-select.el-select--large.el-select-input-group-left .el-select__wrapper {
    border-radius: 5px 0px 0px 5px;
}

body #app .el-radio-input-group {
    min-height: 38px;
    height: 30px;
    border-radius: 0;
}
