body #app .mih-h-screen {
    height: 100vh;
    min-height: 100vh;
    position: relative;
    padding-bottom: 120px;
}

body #app {
    background-color: var(--bgGrayLight);
}

.navbar.navbar-expand-lg.fixed {
    background-color: var(--bg1t);
}

.border-l {
    border-left: solid 1px var(--bgGrayLight);
}

.contenedor_img_inicio {
    display: flex;
}

.img_inicio {
    width: 100%;
    object-fit: cover;
}

.seccion {
    min-height: calc(100vh - 196px);
}

body.modal-open .modal.show {
    background-color: rgba(0, 0, 0, 0.459);
}
