:root {
    --bg1: #072a68;
    --bg2: #005f8d;
    --bg3: #072a68;
    --bg4: #e1f5fe;
    --bg5: #5b6b79;
    --bg6: #f3f3f3;
    --bg1t: rgb(7, 42, 104, 0.7);
    --bg2t: rgba(0, 94, 141, 0.822);
    --bgDarkt: rgba(5, 5, 5, 0.5);
    --bgDarkPrincipal: #1d1f21;
    --bgGrayLight: #e7eaee;
    --bgDarkGray: rgb(31, 31, 31);
    --bgDarkGrayP: #555555;
    --bgSuccess: #179168;
    --bgSuccessH: #127756;
    --bgDanger: #c00404;
    --bgDanger2: #b90000;
    --bgWhite: #fdfdfd;
    --bgYellow: yellow;
}
